@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300...800;1,300...800&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "variables.css";

body {
    font-family: "Open Sans", sans-serif;
}

.welcome-header {
    margin: 15% 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 5%;
    font-size: 130%;
}

.welcome-header__text {
    width: 80%;
    opacity: 0.5;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0 1%;
}

#login-form input {
    padding: 3% 0;
    border: none;
    font-size: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 6%;
    transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
    border-color: var(--yellow);
}
#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer;
    padding: 4% 0;
    border-radius: 5px;
}

#login-form a {
    text-decoration: none;
    text-align: center;
    color: inherit;

}