#chat-screen {
    background-color: #abc1d1;
    height: 500vh;
}

@media screen and (max-width: 430px) {
    .small-size {
        background-image: url("https://img.freepik.com/free-vector/background-design-with-planet-stars_1308-38521.jpg?t=st=1731847028~exp=1731850628~hmac=104599cd39a8dec847575ffe79c17e0798fc1a9ae4f09d40292d6ba44979dd9f&w=1480");
        opacity: 0.7;
    }
}

@media screen and (min-width: 431px) and (max-width: 1000px) {
    .medium-size {
        background-image: url("https://img.freepik.com/premium-vector/game-that-has-name-game-it_670382-369505.jpg?w=1800");
        opacity: 0.7;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .large-size {
        background-image: url("https://img.freepik.com/free-vector/background-design-with-planet-stars_1308-69641.jpg?t=st=1731847223~exp=1731850823~hmac=129134d01570c8cf2638347f6a0238bc11dbff997417c4e87f7a3a10c8052f6d&w=1480");
        opacity: 0.7;
    }
}

@media screen and (max-width: 1201px) {
    #no-mobile {
        display: none;
    }
}


#chat-screen .alt-header,
#chat-screen .status-bar {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

#chat-screen .alt-header {
    top: 10px;
    z-index: 1;
}

#chat-screen .status-bar {
    z-index: 2;
}

@keyframes fadeIn {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 2s linear;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    border-radius: 25px;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.message__author {
    margin-bottom: 5px;
    display: block;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 13px;
    font-size: 18px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message__time,
.message__author {
    opacity: 0.8;
    font-size: 13px;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    margin-right: 0;
    margin-left: 5px;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    box-sizing: border-box;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.reply .reply-column:first-child {
    width: 10%;
}

.reply .reply-column:last-child {
    width: 90%;
    position: relative;
}

.reply i {
    opacity: 0.5;
}

.reply input {
    padding: 14px;
    width: 78vw;
    border: var(--main-border);
    border-radius: 25px;
    box-sizing: border-box;
    transition: all -3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: 20px;
    top: 10px;
}

.reply__column:last-child > i {
    right: 60px ;
    top: 17px;
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reply__column button i {
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply:focus-within .reply__column:first-child {
    opacity: 0;
}
.reply .reply__column:first-child,
.reply .fa-smail-wink,
.reply button {
    transition: opacity 0.3s;
}

.reply.focus-within .reply__column:first-child,
.reply:focus-within .fa-smail-wink,
.reply:focus-within button  {
    opacity: 0;
}

.reply:focus-within input:focus {
    width: 98vw;
    transform: translateX(-13px) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}

@keyframes smileBig {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 1;
        color: hotpink;
        transform: scale(4.0) translateY(-10px);
    }
    100% {
        color: var(--strong-gray);
        transform: scale(1);
    }
}

.fa-smile-wink:hover {
    animation: smileBig 3s forwards;
}

@keyframes typeSlowly {
    from {
        clip-path:inset(0 100% 0 0 );
    }
    to {
        clip-path: inset(0 0 0 0 );
    }
}

span.message__bubble {
    overflow: hidden;
    animation: typeSlowly 2s forwards;
}