#friends-display__link {
    text-align: center;
    display: block;
    background-color: #FAFAFA;
    padding: 15px 0;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: -10px;
}
#friends-display__link i {
    color: var(--main-gray);
}

.friends-screen {
    padding: 0 var(--horizontal-spacing);
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--strong-gray);
}