.user-component {
    justify-content: space-between;
}
.user-component, .user-component__column:first-child {
    display: flex;
    align-items: center;
}

@keyframes magnifyingIcon {
    0% {
        width: 80px;
        height: 80px;
    }
    50% {
        width: 90px;
        height: 90px;
    }
    100% {
        width: 80px;
        height: 80px;
    }
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-component__avatar--xl:focus {
    animation: magnifyingIcon 1s linear forwards;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-component__title {
    font-weight: 600;
    font-size: 22px;
}

.user-component__subtitle {
    margin-top: 5px;
    font-size: 15px;
    color: var(--strong-gray);
}

.user-component__title--not-bold {
   font-weight: 400;
}

.user-component__column:last-child {
    color: var(--main-gray);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time {
    margin-bottom: 10px;
    display: block;
}


